/* Custom CSS for styling */

/* Container for the table and buttons */
#table-container {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    font-family: 'Arial', sans-serif;
}

/* Heading style */
h1 {
    text-align: center;
    font-size: 36px;
    color: #828384;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeIn 1.5s ease;
}

/* Table style */
.table {
    font-family: 'Roboto', sans-serif;
    color: rgb(176, 174, 174); 
    background-color: #f8f8f8;
    /* border: px solid #d1d1d1; */
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

/* Table header style */
.table th {
    background-color: #adafb0;
    color: #fff;
}

/* Alternate row colors for the table */
.table tbody tr:nth-child(odd) {
    background-color: #e1e3e0;
}

/* Button styles */
.btn-primary {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    margin-bottom: 20px; 
    margin-right: 50px; 
}

.btn-primary:hover {
    background-color: #1f67a9;
}

.btn-success {
    background-color: #58c24a;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    margin-bottom: 20px; 
}

.btn-success:hover {
    background-color: #339822;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Add an animation effect to the table rows */
.table tbody tr {
    transition: transform 0.3s;
}

/* Change the transformation on hover for a subtle effect */
.table tbody tr:hover {
    transform: scale(1.03);
}
